<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>State of drunkenness</title>

  <!-- Library JavaScript -->
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="Chart.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="moment.min.js"></script>
  <script src="http://10.0.1.47:8641/socket.io/socket.io.js"></script>

  <!-- Application JavaScript -->
  <script src="script.js"></script>

  <!-- Application stylesheet -->
  <link rel="stylesheet" type="text/css" href="build/dashboardClient.css">
</head>
<body ng-app="wastedland">

<div class="container-fluid">
  <div class="row topbar">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
      <div>
        <img alt="The Drunkwall" src="logo.png">
      </div>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
      <p class="tagline">By drunkards, for drunkards</p>
    </div>
  </div>

  <div class="row" ng-controller="ReportController as report">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Report drinking
        </div>
        <div class="panel-body">
          <form name="reportForm" class="form-horizontal">
            <div class="form-group">
              <label for="reportDrunkard" class="col-xs-2 control-label">Drunkard</label>
              <div class="col-xs-10">
                <select id="reportDrunkard" class="form-control" ng-model="report.selectedDrunkardId">
                  <option value="" disabled selected>Select</option>
                  <option ng-repeat="drunkard in report.drunkards | orderBy:'name'" value="{{drunkard.id}}">{{drunkard.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="reportDrink" class="col-xs-2 control-label">Drink</label>
              <div class="col-xs-10">
                <select id="reportDrink" class="form-control" ng-model="report.selectedDrinkId">
                  <option value="" disabled selected>Select</option>
                  <option ng-repeat="drink in report.drinks | orderBy:'name'" value="{{drink.id}}">{{drink.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="report.submit()"
                        ng-disabled="!report.selectedDrunkardId || !report.selectedDrinkId">
                  Has been drank
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="well fallout" ng-controller="EventsController as events" id="liveReportItems">
        <li ng-repeat="item in events.items | limitTo:-10 track by $index">
          {{item}}
        </li>
      </div>
    </div>
  </div>
</div>

<!--
<div class="contentBox" id="promilleBox">
  <div>Promilles of alcohol in blood: <b><span id="alcoholLevelName">Matti</span></b></div>
  <canvas id="alcoholLevel"></canvas>
</div>

<div class="contentBox" id="drinkPieBox">
  <div>Drink variation:</div>
  <canvas id="drinkPie"></canvas>
</div>
-->

</body>
</html>
